.App {
  text-align: center;
  background-image: linear-gradient(to bottom, #1d222a, #244455, #166c7b, #129593, #4bbf9b);
  height: 100vh;
}
.navtext {
  color: white;
  font-family: 'Unica One', cursive;
  letter-spacing: 3px;
  font-size: 22px;
}

h3 {
  padding-top: 100px;

}
button {
  margin-top: 20px;
  border-top: 1px solid #cbe88e;
  background: #0c594f;
  background: -webkit-gradient(linear, left top, left bottom, from(#78775a), to(#0c594f));
  background: -webkit-linear-gradient(top, #78775a, #0c594f);
  background: -moz-linear-gradient(top, #78775a, #0c594f);
  background: -ms-linear-gradient(top, #78775a, #0c594f);
  background: -o-linear-gradient(top, #78775a, #0c594f);
  padding: 20px 40px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #dcede9;
  font-size: 19px;
  font-family: 'Unica One', cursive;
  letter-spacing: 2px;
  text-decoration: none;
  vertical-align: middle;
    }
 button:hover {
    border-top-color: #7db083;
    background: #7db083;
    color: #383138;
    }
 button:active {
    border-top-color: #8ee086;
    background: #8ee086;
    }

    .words {
      width: 400px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 70px;
      margin-top: 40px;
      padding-top: 40px;
      padding-left: 20px;
      padding-right:20px;
      
      background-color:rgb(161, 196, 196);
      color:rgb(36, 31, 31);
      font-size: 60px;
      font-family: 'Unica One', cursive;
    }


